/* *{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  background-color: #F8D2A4;
}

head {
  background-color: #F8D2A4;
}

nav{
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  align-items: left;
  min-height: 8vh;
  background-color: grey;
  opacity: 0.8;
  font-family: 'Raleway';
}

.links{
  display: flex;
  padding-top: 20px;
  justify-content: space-around;
  width: 30%;
}
.links li{
  list-style: none;

}
.links a{
color: #FCFFE7;
  text-decoration: none;
  letter-spacing: 3px;
  
}

.images{
  justify-content:flex-start;
}


.homepage {
  background-color:F8D2A4;
  margin-top: 0
  margin-bottom: 0
  margin-right: 0
margin-left: 0 
}


.hero2 {
  margin-left: 700px;
  margin-bottom: 700px;
}
.practice {
  border-radius: 60px;
  border-color: black;
  background-color: white;
   text-decoration:none;
  Font-family: raleway;
Font-style: Bold;
Font-size: 64px;
Line-height: 75px;
Line-height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

.topnav{
text-align: right;
letter-spacing: 3px;
}

.container {
    width: 1080px;
    margin: auto;
}
#first {
    width: 759px;
    float: left;
    height: 950px;
}
#second {
    width: 712px;
    float: left;
    height: 950px;
    color: white;
} */

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  background-color: #F8D2A4;
}

head {
  background-color: #F8D2A4;
}

.nav{
  display: flex;
  vertical-align: middle;
  justify-content:  space-between;
    align-items: left;
  min-height: 8vh;
  background-color: #576066;
  opacity: 0.8;
  font-family: 'Raleway';
}

.links{
  display: flex;
  padding-top: 20px;
  width: 30%;
}
.links li{
  list-style: none;


}
.links a{
color: #FCFFE7;
  text-decoration: none;
  letter-spacing: 3px;
  margin-right: 10px;

}

.practice {
  border-radius: 60px;
  border-color: black;
  background-color: white;
   text-decoration:none;
  Font-family: raleway;
  Font-style: Bold;
  Font-size: 64px;
  Line-height: 75px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  transition: margin 0.15s, padding 0.15s;
   box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);

}

.practice:hover 
{
   padding-left: 25px;
    padding-right: 25px;
    margin-left: 0px;
    margin-right: 0px;
  color: white;
  background-color: #576066
}

.main {
  display: flex;
  justify-content: center;
}

.right {
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.bottom {
  padding-left: 100px;
}